<!DOCTYPE html>
<html>

<head>
  <title>
    Todos App
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>To Do List</h1>

  <% if (todos.length == 0) { %>
    <h3>There are no todos yet!</h3>
  <% } else { %>
    <ul>
      <%for (let i=0; i< todos.length; i++){%>
        <li>
          <%=todos[i].text%> - <%= todos[i].done ? "Done":"Not done"%>
        </li>
        <%}%>
    </ul>
  <% }%>
  <hr>
  <form method="POST" action="/">
    <input required type="text" name="text">
    <button>ADD TO DO</button>
  </form>
</body>

</html>